.header {
  border-bottom: 1px solid var(--border);
  padding: 22px 0;

  @media screen and (max-width: 992px) {
    padding: 15px 0;
  }
}

.user-label {
  min-width: 48px;
  width: 48px;
  height: 48px;
  min-height: 48px;
  border-radius: 50%;
  margin-left: 11px;
}