<div class="nav-bar d-flex align-items-center flex-wrap global-container">
  <a class="btn btn-outline" [routerLink]="routerLinks.dashboard" [routerLinkActiveOptions]="{exact: true}"
    routerLinkActive="btn-primary">
    <svg class="btn-icon" width="18" height="18" >
      <use xlink:href="#home"></use>
    </svg> 
    <span>Dashboard</span>
  </a>
  <a class="btn btn-outline" [routerLink]="routerLinks.account" routerLinkActive="btn-primary">
    <svg class="btn-icon" width="18" height="18" >
      <use xlink:href="#data"></use>
    </svg> 
    <span>Account</span>
  </a>
  <a class="btn btn-outline" [routerLink]="routerLinks.brokers" routerLinkActive="btn-primary">
    <svg class="btn-icon" width="18" height="18" >
      <use xlink:href="#people"></use>
    </svg> 
    <span>Brokers</span>
  </a>
  <a class="btn btn-outline" [routerLink]="routerLinks.submissions" routerLinkActive="btn-primary">
    <svg class="btn-icon" width="18" height="18" >
      <use xlink:href="#file"></use>
    </svg> 
    <span>Submissions</span>
  </a>
  <a class="btn btn-outline" [routerLink]="routerLinks.organizations" routerLinkActive="btn-primary">
    <svg class="btn-icon" width="18" height="18" >
      <use xlink:href="#building"></use>
    </svg> 
    <span>Organizations</span>
  </a>
  <a class="btn btn-outline" [routerLink]="routerLinks.goals" routerLinkActive="btn-primary">
    <svg class="btn-icon" width="18" height="18" >
      <use xlink:href="#goal"></use>
    </svg> 
    <span>Goals & Rules</span>
  </a>
  <a class="btn btn-outline" [routerLink]="routerLinks.admin" routerLinkActive="btn-primary">
    <svg class="btn-icon" width="18" height="18" >
      <use xlink:href="#key"></use>
    </svg> 
    <span>Admin</span>
  </a>
</div>