<div class="account-info-container d-flex align-items-end flex-wrap flex-xl-nowrap gap-1">
  <div class="account-info d-flex align-items-start gap-1">
    <img width="102" height="102" src="assets/img/account.svg" alt="Account avatar">
    <div>
      <h2 class="account-info__name text-light">Maritime Logistics Corp</h2>
      <div class="d-flex flex-column flex-row-lg">
        <p class="account-info__detail text-light text-w-300">
          425 Harbor Boulevard, Suite 300 Seattle, WA 98104
        </p>
        <p class="account-info__detail text-light text-w-300">
          <span class="text-dark">EXISTING ACCOUNT</span>
          <br>
          54383
        </p>
        <p class="account-info__detail text-light text-w-300">
          <span class="text-dark">BROKER</span>
          <br>
          Marsh McLennan
        </p>
        <p class="account-info__detail text-light text-w-300">
          <span class="text-dark">UNDERWRITER</span>
          <br>
          Kate Johnson
        </p>
      </div>
    </div>
  </div>
  <div class="card-container border-warning">
    <div class="d-flex align-items-center">
      <svg class="btn-icon" width="20" height="20">
        <use xlink:href="#warning"></use>
      </svg>
      <span class="text-warning text-w-300">
        Needs Attention
      </span>
    </div>
    <div class="attention-blocks row">
      <div class="attention-block col-12 col-4-lg">
        <span class="attention-block__title text-light text-w-300">
          Marine Survey Required
        </span>
        <br>
        <span class="attention-block__subtitle text-dark text-w-300">
          Scheduled for 06/12/2025
        </span>
        <br>
        <span class="attention-block__link text-primary text-w-400">
          Review details link
        </span>
      </div>
      <div class="attention-block col-12 col-4-lg">
        <span class="attention-block__title text-light text-w-300">
          Loss Control Complete
        </span>
        <br>
        <span class="attention-block__subtitle text-dark text-w-300">
          Last inspection: 02/15/2025
        </span>
        <br>
        <span class="attention-block__link text-primary text-w-400">
          View report
        </span>
      </div>
      <div class="attention-block col-12 col-4-lg">
        <span class="attention-block__title text-light text-w-300">
          Claims Review Required
        </span>
        <br>
        <span class="attention-block__subtitle text-dark text-w-300">
          3 open claims // $245,000 TTL
        </span>
        <br>
        <span class="attention-block__link text-primary text-w-400">
          View claims
        </span>
      </div>
    </div>
  </div>
</div>