<div class="account-status-compliance row d-flex flex-xl-nowrap">
  <div class="col-12 col-6-lg">
    <div class="account-status w-100">
      <h2 class="account-status__title text-light">Account Status</h2>
      <div class="card-container account-card-container d-flex align-items-center">
        <div class="status d-flex flex-column align-items-center">
          <svg class="btn-icon" width="33" height="33">
            <use xlink:href="#check"></use>
          </svg>
          <p class="status__title text-light text-w-400">Submitted</p>
        </div>
        <div class="status-line success"></div>
        <div class="status d-flex flex-column align-items-center">
          <svg class="btn-icon" width="33" height="33">
            <use xlink:href="#check"></use>
          </svg>
          <p class="status__title text-light text-w-400">Review</p>
        </div>
        <div class="status-line success"></div>
        <div class="status d-flex flex-column align-items-center">
          <svg class="btn-icon" width="33" height="33">
            <use xlink:href="#check"></use>
          </svg>
          <p class="status__title text-light text-w-400">Quote</p>
        </div>
        <div class="status-line success"></div>
        <div class="status d-flex flex-column align-items-center">
          <svg class="btn-icon" width="33" height="33">
            <use xlink:href="#check"></use>
          </svg>
          <p class="status__title text-light text-w-400">Bind</p>
        </div>
        <div class="status-line success"></div>
        <div class="status d-flex flex-column align-items-center">
          <svg class="btn-icon" width="33" height="33">
            <use xlink:href="#check"></use>
          </svg>
          <p class="status__title text-light text-w-400">Issue</p>
        </div>
        <div class="status-line gray"></div>
        <div class="status d-flex flex-column align-items-center">
          <svg class="btn-icon" width="33" height="33">
            <use xlink:href="#check-gray"></use>
          </svg>
          <p class="status__title text-light text-w-400">Renew</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-6-lg">
    <div class="account-compliance w-100">
      <div class="d-flex align-items-center gap-1">
        <h2 class="account-compliance__title text-light">Compliance & Documentation</h2>
        <a class="account-compliance__link text-primary text-w-400" href="">See history</a>
      </div>
      <div class="card-container d-flex flex-column justify-content-evenly">
        <div class="row w-100">
          <div class="account-compliance__item col-12 col-6-lg d-flex align-items-center">
            <svg class="btn-icon" width="20" height="20">
              <use xlink:href="#check"></use>
            </svg>
            <p class="text-light text-w-400 w-100 m-0">KYC verification</p>
          </div>
          <div class="account-compliance__item col-12 col-6-lg d-flex align-items-center">
            <svg class="btn-icon" width="20" height="20">
              <use xlink:href="#check"></use>
            </svg>
            <p class="text-light text-w-400 w-100 m-0">Required DoCumentation</p>
          </div>
        </div>
        <div class="row w-100">
          <div class="account-compliance__item col-12 col-6-lg d-flex align-items-center">
            <svg class="btn-icon" width="20" height="20">
              <use xlink:href="#check"></use>
            </svg>
            <p class="text-light text-w-400 w-100 m-0">Regulatory approval</p>
          </div>
          <div class="account-compliance__item col-12 col-6-lg d-flex align-items-center">
            <svg class="btn-icon" width="20" height="20">
              <use xlink:href="#check"></use>
            </svg>
            <p class="text-light text-w-400 w-100 m-0">Financial Verification</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>