<div class="card-container">
  <h2 class="card-title">Market intelligence</h2>
  <div class="news-item d-flex">
    <div class="point danger"></div>
    <p class="text-light m-0">Rate hardening in Cyber market - +15% YoY</p>
  </div>
  <div class="news-item d-flex">
    <div class="point warning"></div>
    <p class="text-light m-0">New capacity entering Marine market</p>
  </div>
  <div class="news-item d-flex">
    <div class="point primary-dark"></div>
    <p class="text-light m-0">Environmental regulatory changes in CA</p>
  </div>
</div>