.progress-wrapper {
  width: 100%;
  max-width: 500px;
  font-family: sans-serif;
  text-align: center;
  color: #b0b8cc;
}

.progress-bar {
  position: relative;
  height: 25px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
  transition: width 0.4s ease;

  &.background {
    background-color: var(--progress-background);
  }
}

.progress-fill {
  height: 100%;
  width: 0;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  transition: width 0.4s ease;

  &.primary {
    background: linear-gradient(90deg, #313853 0%, #3B82F6 100%);
  }

  &.success {
    background: linear-gradient(to right, rgba(59, 185, 121, 0) 0%, rgba(59, 185, 121, 1) 100%);
  }

  &.warning {
    background: linear-gradient(to right, rgba(253, 210, 97, 0) 0%, rgba(253, 210, 97, 1) 100%);
  }
}

.progress-value,
.progress-max {
  font-weight: 500;
  font-size: 12px;
}

.progress-value {
  color: var(--white);
}

.progress-max {
  margin-left: 6px;
  color: var(--text-light);
  text-wrap: nowrap;
}

.progress-percent {
  margin-top: 8px;
  font-size: 10px;
  color: var( --text-dark);
}
