<h2 class="communication-title text-light">Communication</h2>

<div class="card-container">
  <div class="d-flex align-items-center gap-1">
    <app-search [height]="28" [width]="250" background="var(--search-table-background)" />
    <button class="btn btn-outline-primary" type="button">Filter</button>
    <button class="btn btn-outline-primary" type="button">Group</button>
  </div>
  
  <div class="communication d-flex flex-wrap flex-xl-nowrap">
    <div class="communication-primary d-flex flex-column w-100">
      <div class="card-container communication-container primary">
        <div class="d-flex align-items-center">
          <span class="communication-label dark-primary">NEW</span>
          <p class="communication-container__title text-light text-w-400">
            Policy Renewal - Auto Insurance 5/15/25
          </p>
        </div>
        <p class="communication-container__date text-dark text-w-400 m-0">
          Michael Roberts // Apr 5
        </p>
        <p class="communication-container__description text-light text-w-300">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, quam? Libero, sunt consectetur? Ducimus,
          quaerat eveniet quia voluptas, quos repudiandae cumque, possimus repellendus dolorem ullam excepturi
          praesentium!
          Incidunt fugit unde dolore, numquam vitae iusto provident veritatis autem rerum nesciunt doloremque facilis
          perspiciatis animi aperiam enim ullam ad nam quibusdam praesentium quisquam ex pariatur modi voluptas vel! Ab
          odio, omnis adipisci vitae qui nesciunt minima suscipit dicta tempora perferendis voluptatem doloribus, rerum
          aperiam, iusto quis! Porro reiciendis quo, facere sequi similique autem dolor delectus minus assumenda cumque
          veritatis maiores dolorem modi rerum cum iusto sint. Sapiente unde quidem eius sit? Officiis!
        </p>
        <span class="communication-label success">
          <svg class="btn-icon" width="12" height="12">
            <use xlink:href="#pin"></use>
          </svg>
          3 Attachments
        </span>
        <button class="btn btn-primary" type="button">Reply</button>
      </div>
      <div class="card-container communication-container primary d-flex flex-column w-100">
        <div class="d-flex align-items-center">
          <span class="communication-label dark-primary">NEW</span>
          <p class="communication-container__title text-light text-w-400">
            Policy Renewal - Auto Insurance 5/15/25
          </p>
        </div>
        <p class="communication-container__date text-dark text-w-400 m-0">
          Michael Roberts // Apr 5
        </p>
        <p class="communication-container__description text-light text-w-300">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, quam? Libero, sunt consectetur? Ducimus,
          quaerat eveniet quia voluptas, quos repudiandae cumque, possimus repellendus dolorem ullam excepturi
          praesentium!
          Incidunt fugit unde dolore, numquam vitae iusto provident veritatis autem rerum nesciunt doloremque facilis
          perspiciatis animi aperiam enim ullam ad nam quibusdam praesentium quisquam ex pariatur modi voluptas vel! Ab
          odio, omnis adipisci vitae qui nesciunt minima suscipit dicta tempora perferendis voluptatem doloribus, rerum
          aperiam, iusto quis! Porro reiciendis quo, facere sequi similique autem dolor delectus minus assumenda cumque
          veritatis maiores dolorem modi rerum cum iusto sint. Sapiente unde quidem eius sit? Officiis!
        </p>
        <span class="communication-label success">
          <svg class="btn-icon" width="12" height="12">
            <use xlink:href="#pin"></use>
          </svg>
          3 Attachments
        </span>
        <button class="btn btn-primary" type="button">Reply</button>
      </div>
    </div>
    <div class="communication-primary d-flex flex-column w-100">
      <div class="card-container communication-container">
        <div class="d-flex align-items-center">
          <span class="communication-label dark-primary">Responded</span>
          <p class="communication-container__title text-light text-w-400">
            Policy Renewal - Auto Insurance 5/15/25
          </p>
        </div>
        <p class="communication-container__date text-dark text-w-400 m-0">
          Michael Roberts // Apr 5
        </p>
        <p class="communication-container__description text-light text-w-300">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, quam? Libero, sunt consectetur?
        </p>
      </div>
      <div class="card-container communication-container">
        <p class="communication-container__title text-light text-w-400 m-0">
          Policy Renewal - Auto Insurance 5/15/25
        </p>
        <p class="communication-container__date text-dark text-w-400 m-0">
          Michael Roberts // Apr 5
        </p>
        <p class="communication-container__description text-light text-w-300">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, quam? Libero, sunt consectetur?
        </p>
        <span class="communication-label success">
          <svg class="btn-icon" width="12" height="12">
            <use xlink:href="#pin"></use>
          </svg>
          5 Attachments
        </span>
        <button class="btn btn-primary" type="button">Reply</button>
      </div>
    </div>
  </div>
</div>