@use 'assets/styles/colors.scss';
@use 'assets/styles/fonts.scss';

body {
  background-color: var(--background);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.global-container {
  max-width: 1665px;
  margin: 0 auto;
  padding: 0 30px;

  @media screen and (max-width: 1700px) {
    max-width: 100%;
    width: 100%;
    padding: 0 14px;
  }
}

.d-flex {
  display: flex;

  &.flex-column {
    flex-direction: column;
  }

  &.flex-row {
    flex-direction: row;
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.flex-row-lg {
    @media (min-width: 992px) {
      flex-direction: row;
    }
  }

  &.gap-1 {
    gap: 1rem;
  }

  &.align-items-center {
    align-items: center;
  }

  &.justify-content-center {
    justify-content: center;
  }

  &.justify-content-between {
    justify-content: space-between;
  }
}

.m-0 {
  margin: 0;
}

.w-100 {
  width: 100%;
}

.w-lg-auto {
  @media (min-width: 992px) {
    width: auto;
  }
}

.text-white {
  color: var(--white);
}

.text-light {
  color: var(--text-light);
}

.text-dark {
  color: var(--text-dark);
}

h1 {
  font-size: 30px;
  line-height: 32px;
  font-weight: 400;

  @media screen and (max-width: 992px) {
    font-size: 22px;
    line-height: 24px;
  }
}

h2 {
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.btn {
  padding: 12px 17px;
  height: 48px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 25px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;

  &.btn-outline {
    border: 1px solid var(--border);
    color: var(--text-medium);
    background-color: var(--dark);

    .btn-icon {
      color: var(--primary);
    }

    &:hover {
      border-color: var(--primary);
      color: var(--primary);
    }
  }

  &.btn-primary {
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: var(--white);

    .btn-icon {
      color: var(--white);
    }

    &:hover {
      color: var(--white);
    }
  }
}

.primary-gradient {
  background: linear-gradient(to right,
      rgba(30, 64, 175, 0.3) 0%,
      rgba(30, 64, 175, 1) 100%);
}

.mat-sort-header-arrow {
  color: var(--primary) !important;
}

.card-container {
  background: var(--card);
  border: 1px solid var(--border);
  border-radius: 40px;
  padding: 22px;

  .card-title {
    margin: 0 0 20px 0;
    color: var(--text-light)
  }
}