.slide-up-down {
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  transform: translateY(100%);
  opacity: 0;
}

.slide-up-down.visible {
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

.slide-up-down.hidden {
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}