:root {
  --background: #121622;
  --primary: #3B82F6;
  --border: #313B54;
  --card: #1E2233;
  --dark: #0C0F17;

  --text-light: #E5E7EB;
  --text-medium: #C5CAD3;
  --text-dark: #94A3B8;

  --table-header: #252A3D;
  --table-light: #293245;

  --warning: #FDD261;
  --success: #3BB979;
  --danger: #CC0101;
}