<h2 class="policies-title text-light">Policies</h2>
<div class="card-container policies d-flex flex-wrap flex-xl-nowrap">
  <div class="policie d-flex flex-column">
    <div class="d-flex align-items-center">
      <svg class="btn-icon" width="25" height="25">
        <use xlink:href="#boat"></use>
      </svg>
      <span class="policie__title text-light text-w-400">Marine Cargo</span>
    </div>
    <span class="policie__subtitle text-dark text-w-300">Premium: $625,000</span>
    <span class="policie__subtitle text-dark text-w-300">Eff.Date: 6/30/2026</span>
  </div>
  <div class="policie d-flex flex-column">
    <div class="d-flex align-items-center">
      <svg class="btn-icon" width="25" height="25">
        <use xlink:href="#secure"></use>
      </svg>
      <span class="policie__title text-light text-w-400">General Liability</span>
    </div>
    <span class="policie__subtitle text-dark text-w-300">Premium: $175,000</span>
    <span class="policie__subtitle text-dark text-w-300">Eff.Date: 6/30/2026</span>
  </div>
  <div class="policie d-flex flex-column">
    <div class="d-flex align-items-center">
      <svg class="btn-icon" width="25" height="25">
        <use xlink:href="#secure-people"></use>
      </svg>
      <span class="policie__title text-light text-w-400">Workers Comp</span>
    </div>
    <span class="policie__subtitle text-dark text-w-300">Premium: $75,000</span>
    <span class="policie__subtitle text-dark text-w-300">Eff.Date: ---</span>
  </div>
  <div class="policie d-flex flex-column">
    <div class="d-flex align-items-center">
      <svg class="btn-icon text-warning" width="25" height="25">
        <use xlink:href="#building"></use>
      </svg>
      <span class="policie__title text-light text-w-400">Property</span>
    </div>
    <span class="policie__subtitle text-dark text-w-300">Premium: $64,829.83</span>
    <span class="policie__subtitle text-dark text-w-300">Eff.Date: ---</span>
  </div>
   <div class="policie d-flex flex-column">
    <div class="d-flex align-items-center">
      <svg class="btn-icon" width="25" height="25">
        <use xlink:href="#umbrella"></use>
      </svg>
      <span class="policie__title text-light text-w-400">Umbrella</span>
    </div>
    <span class="policie__subtitle text-dark text-w-300">Premium: $275,000</span>
    <span class="policie__subtitle text-dark text-w-300">Eff.Date: 13/03/2026</span>
  </div>
</div>
